// Copyright 2008, 2009, 2010, 2011 Chris Forno
//
// This file is part of Vocabulink.
//
// Vocabulink is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// Vocabulink is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Vocabulink. If not, see <http://www.gnu.org/licenses/>.

@import lib.sass

.article
  width: 50em
  margin-left: auto
  margin-right: auto
  dl
    border: 3px double #CCC
    padding: 0.667em 0.667em 0 0.667em
    margin: 1.3em
    dt
      float: left
      clear: left
      line-height: 1.3em
      width: 3em
      text-align: right
      font-weight: bold
      &:after
        content: ":"
    dd
      line-height: 1.3em
      margin:
        left: 4.3em
        bottom: 0.667em
  ul
    list-style-type: disc
    margin-left: 1em
  ol
    list-style-type: decimal
    margin-left: 1.5em
  code
    font-family: Courier New, monospace
    font-weight: bold
