@require 'lib'

#comments
  max-width: 50em
  margin-left-right: auto
  h3
    margin-top-bottom: 1em
    border-bottom: 1px solid black

// Derived from http://nicolasgallagher.com/pure-css-speech-bubbles/
.speech-bubble
  position: relative
  padding: 0.75em 1em
  border: 1px solid #C5C5C5
  background-color: #FFFFFF
  border-radius: 6px
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
  // triangles
  &:before, &:after
    content: ""
    // reduce the damage in FF3.0
    display: block
    position: absolute
  &.left
    margin-left: 25px
    &:before, &:after
      border-style: solid
    &:before
      left: -25px
      top: 20px
      border-width: 14px 25px 0 0
      border-color: transparent #C5C5C5
      z-index: -1
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
    &:after
      left: -21px
      top: 21px
      border-width: 12px 21px 0 0
      border-color: transparent #FFFFFF

.comment
  max-width: 50em
  overflow: hidden
  margin-top-bottom: 1.3em
  .avatar
    float: left
    margin-left: 7px
  .metadata
    line-height: 1.3em
    .username
      margin-left: 85px
      padding-left: 1em
    .timestamp
      float: right
      padding-right: 1em
  .reply, .send
    float: left
    clear: left
    margin-top: 0.75em
  .body, .metadata .username
    margin-left: 85px
  .body
    > *:first-child
      margin-top: 0
    > *:last-child
      margin-bottom: 0
    // The following could, in theory, go into a members-only CSS file.
    textarea
      width: 100%
      height: 5em
      border: 1px solid #C0C0C0
  .title
    padding-bottom: 5px
    border-bottom: 1px solid bar-and-box-border
    margin-bottom: 5px
    label
      display: inline-block
      width: 10%
      text-align: right
    input
      width: 85%
