@charset "utf-8"

@mixin rounded($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -khtml-border-radius: $radius
  border-radius: $radius

@mixin rounded_tl($radius)
  -moz-border-radius-topleft: $radius
  -webkit-border-top-left-radius: $radius
  -khtml-border-top-left-radius: $radius
  border-top-left-radius: $radius

@mixin rounded_tr($radius)
  -moz-border-radius-topright: $radius
  -webkit-border-top-right-radius: $radius
  -khtml-border-top-right-radius: $radius
  border-top-right-radius: $radius

@mixin rounded_bl($radius)
  -moz-border-radius-bottomleft: $radius
  -webkit-border-bottom-left-radius: $radius
  -khtml-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius

@mixin rounded_br($radius)
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-right-radius: $radius
  -khtml-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius

@mixin drop_shadow($offset_x, $offset_y, $blur, $color)
  -moz-box-shadow: $offset_x $offset_y $blur $color
  -webkit-box-shadow: $offset_x $offset_y $blur $color
  box-shadow: $offset_x $offset_y $blur $color

@mixin vertical_gradient($from, $to)
  background: mix($from, $to)
  background: -moz-linear-gradient(top, $from, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), to($to))

@mixin vertical_half_gradient($from, $to)
  background: $to
  background: -moz-linear-gradient(top, $from, $from, $from, $to, $to, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), color-stop(40%, $from), color-stop(60%, $to), to($to))

@mixin vertical_third_gradient($from, $to)
  background: $to
  background: -moz-linear-gradient(top, $from, $to, $to, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), color-stop(33%, $to), to($to))

@mixin vertical_fade_to($color)
  $from: rgba($color, 0)
  $to: rgba($color, 1)
  background: -moz-linear-gradient(top, $from, $to, $to, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), color-stop(33%, $to), to($to))

@mixin border_box()
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

@mixin transform($t)
  -moz-transform: $t
  -webkit-transform: $t
  -o-transform: $t
  -ms-transform: $t
  transform: $t

@mixin rotate($deg)
  @include transform(rotate(#{$deg}deg))

// This is the background color for major blocks in the interface.
$bar_and_box_background: #F7F7F7
$bar_and_box_border: #DFDFDF

$text_color: #434343
