$static: "http://s.vocabulink.com/"
$images: "#{$static}img/"

@mixin rounded($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -khtml-border-radius: $radius
  border-radius: $radius

@mixin rounded_tl($radius)
  -moz-border-radius-topleft: $radius
  -webkit-border-top-left-radius: $radius
  -khtml-border-top-left-radius: $radius
  border-top-left-radius: $radius

@mixin rounded_tr($radius)
  -moz-border-radius-topright: $radius
  -webkit-border-top-right-radius: $radius
  -khtml-border-top-right-radius: $radius
  border-top-right-radius: $radius

@mixin rounded_bl($radius)
  -moz-border-radius-bottomleft: $radius
  -webkit-border-bottom-left-radius: $radius
  -khtml-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius

@mixin rounded_br($radius)
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-right-radius: $radius
  -khtml-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius

@mixin drop_shadow($offset_x, $offset_y, $blur, $color)
  -moz-box-shadow: $offset_x $offset_y $blur $color
  -webkit-box-shadow: $offset_x $offset_y $blur $color
  box-shadow: $offset_x $offset_y $blur $color

@mixin vertical_gradient($from, $to)
  background: mix($from, $to)
  background: -moz-linear-gradient(top, $from, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), to($to))

@mixin vertical_half_gradient($from, $to)
  background: $to
  background: -moz-linear-gradient(top, $from, $from, $from, $to, $to, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), color-stop(40%, $from), color-stop(60%, $to), to($to))

@mixin vertical_third_gradient($from, $to)
  background: $to
  background: -moz-linear-gradient(top, $from, $to, $to, $to)
  background: -webkit-gradient(linear, center top, center bottom, from($from), color-stop(33%, $to), to($to))

// This is the background color for major blocks in the interface.
$bar_and_box_background: #F7F7F7
$bar_and_box_border: #DFDFDF

$linkword_color: #13B1B3
$linkword_bg_color: #E9F7F7
$linkword_border_color: #D3F1F1

$soundalike_color: #86CF6A
$soundalike_bg_color: #ECF9DF
$soundalike_border_color: #D4F1C8

$association_color: #000000
$association_bg_color: #FFFFFF
$association_border_color: #F4F3F3
