// Copyright 2008, 2009, 2010 Chris Forno
//
// This file is part of Vocabulink.
//
// Vocabulink is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// Vocabulink is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Vocabulink. If not, see <http://www.gnu.org/licenses/>.

@import lib.sass

.link
  text-align: center
  margin-left: 0
  margin-right: 0
  img, .lexeme, input, #destination
    vertical-align: middle
  lexeme
    padding:
      left: 0.5em
      right: 0.5em
    font:
      family: sans-serif
      size: xx-large
  #destination
    width: 10em
    margin-left: 1em
  > a
    display: block
    color: black
    border: 1px solid black
    padding:
      top: 2em
      bottom: 2em
    img
      border: 0
  &.review
    .dest
      display: none
    .linkword
      display: none

h1.link
  margin-bottom: 2em
  .orig, .dest
    display: inline-block
    border: 3px solid black
    @include rounded(10px)
    @include drop_shadow(3px, 3px, 6px, rgba(0, 0, 0, 0.2))
    font-size: 0.875em
    padding: 1em 1.5em
  .link
    font-size: 0.75em
    vertical-align: 50%
    border-bottom: 3px solid black
    padding:
      left: 2em
      right: 2em
      bottom: 0.1em
    margin:
      left: 8px
      right: 5px

h1.link.linkword
  .orig, .dest, .link
    color: $linktype_linkword_foreground
  .orig, .dest
    background-color: $linktype_linkword_background
    border-color: $linktype_linkword_border
  .link
    border-color: $linktype_linkword_foreground

h1.link.cognate
  .orig, .dest, .link
    color: $linktype_cognate_foreground
  .orig, .dest
    background-color: $linktype_cognate_background
    border-color: $linktype_cognate_border
  .link
    border-color: $linktype_cognate_foreground

h1.link.association
  .orig, .dest, .link
    color: $linktype_association_foreground
  .orig, .dest
    background-color: $linktype_association_background
    border-color: $linktype_association_border
  .link
    border-color: $linktype_association_foreground

.caption
  display: inline-block
  color: #A0A0A0
  font-size: 0.875em

#baseline
  margin:
    top: 5em
    bottom: 5em

.preview
  border: 1px solid $bar_and_box_background
  margin-bottom: 1.3em
  h2
    text-align: center

// review

a#lexeme-cover
  padding: 0.5em 4em
  border: 1px solid black
  color: black
  &:visited
    color: inherit

table.focus-box
  width: 100%
  height: 300px
  margin-top: 1em
  td
    padding: 0.5em
    vertical-align: middle
    &.edges
      width: 200px
    &.focus
      text-align: center
      width: 1em
    &.origins table, &.destinations table
      width: 100%
      height: 100%
    &.origins table td
      text-align: right
    &.destinations
      text-align: left

fieldset#linkword textarea
  width: 50%
  height: 20em

.link-details
  width: 50%
  margin:
    left: auto
    right: auto
    top: 1.3em
    bottom: 1.3em
  textarea
    width: 100%
    height: 24em

.link-ops
  width: 22.5%
  float: left
  padding-top: 1.3em
  input, select, button
    display: block
    margin:
      left: auto
      right: auto
  > input, button, form, a
    margin-top: 1.3em
  > div
    margin: 1.3em auto
  p, a
    text-align: center
  a
    display: block
  #add-to-pack
    padding: 0.667em
    background-color: $bar_and_box_background

#recall-buttons
  text-align: center
  button
    padding: 0.5em 0.75em

a.language-pair
  display: block
  text-align: center

.column .link-pack
  margin:
    right: 1.3em
    left: auto

.pack-links
  width: 33em
