*.png
*.jpg
*.gif
*.css
*.js
*.html
*.swf
*.pdf
*.zip
*.gpg
*.org
*.org_archive
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc

/cgi/dist
/css/.sass-cache
/mnemonics
/upload/audio/pronunciation
/vocabulink.cgi
/vocabulink.cgi.old
/archive
