*.png
*.jpg
*.gif
*.css
*.html
*.swf
*.pdf
*.zip
*.gpg
*.org
*.org_archive
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc

/hs/dist
/hs/cabal-dev
/.sass-cache
/mnemonics
/audio
/vocabulink.cgi
/vocabulink.cgi.old
/archive
/articles/in-progress
/wordlists
/lessons
/js/external
/js/compiled
/css/external
/css/compiled
/readers
/hs/auth-token-key
/hs/db-password
