0 1 * * * /home/jekor/vocabulink/scripts/backup-database-to-s3.sh
0 2 * * * /home/jekor/vocabulink/scripts/rotate-backups.sh
0 3 * * * /usr/bin/s3cmd sync /var/log/lighttpd/ s3://vocabulink.com-archive/lighttpd-logs/
