.link {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.link img {
  vertical-align: middle;
}

.link .lexeme {
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: xx-large;
}

.link input {
  vertical-align: middle;
}

.link #destination {
  width: 10em;
  vertical-align: middle;
  margin-left: 1em;
}

.link > a {
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding-top: 2em;
  padding-bottom: 2em;
}

.link > a img {
  border: 0;
}

#baseline {
  margin-top: 30ex;
}

#association {
  text-align: center;
}
