/* This file is for site-wide styling. This will be used for all standard pages. */

/* Based on Eric Meyer's CSS Reset - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Initialize the page and provide helpers. */

h1, h2, h3 {
  font-weight: bold;
}

/* Font sizes taken from http://webtypography.net/Harmony_and_Counterpoint/Size/3.1.1/ */

h1 {
  font-size: 2.25em;
  text-align: center;
  line-height: 1.156;
  margin-top: 0.578em;
  margin-bottom: 0.578em;
}

h2 {
  font-size: 1.5em;
  line-height: 0.867;
  margin-top: 0.867em;
  margin-bottom: 0.867em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  text-align: center;
  font-size: 0.875em;
  line-height: 1.486;
  margin-top: 1.486em;
  margin-bottom: 1.486em;
}

p {
  line-height: 1.3;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

b, strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

/* Header Bar */

#header-bar, #footer-bar {
  background-color: #CCC;
  margin: 0;
}

#header-bar {
  padding-top: 1ex;
  padding-bottom: 1ex;
}

#header-bar .logo, #header-bar .auth-box, #header-bar .search-box, #header-bar .review-box {
  display: inline;
  margin-right: 1em;
}

#header-bar .logo {
  font-size: larger;
  font-family: sans-serif;
  margin-left: 1em;
  float: left;
  color: black;
}
#header-bar a.logo {
  text-decoration: none;
}

#header-bar .search-box, #header-bar .auth-box, #header-bar .review-box {
  float: right;
}

#footer-bar {
  margin-top: 2ex;
  text-align: center;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}
#footer-bar * {
  margin-top: 0.25ex;
  margin-bottom: 0.25ex;
}

.auth-box #username, .auth-box #password {
  width: 7em;
}

.auth-box.logout input {
  margin-left: 1em;
}

a.review-box {
  text-decoration: none;
  color: black;
}
a.review-box:hover {
  text-decoration: underline;
}

ul.links {
  margin-left: 0;
  padding-left: 0;
}

ul.links li {
  display: inline;
}

#header-bar ul.links {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  float: left;
}

#header-bar ul.links li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#footer-bar ul.links li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

p.copyright {
  margin: 0;
}

/* The Pager is used to page results that won't fit on a single page. */

.pager {
  text-align: center;
  margin-top: 2ex;
}

/* Group controls in a box so that they can be logically associated. */
.pager .controls {
  border: 1px solid black;
  background-color: #DDD;
  padding: 0.5em;
}

/* Links should never turn the "visited" color for paging. It's logically
   correct, but people have come to expect otherwise. */
.pager a {
  color: blue;
  text-decoration: none;
}
.pager a:hover {
  text-decoration: underline;
}

/* Grey out controls that can't be used. */
.pager span.prev {
  color: #666;
}
.pager span.next {
  color: #666;
}

.pager .controls .next {
  margin-left: 2em;
}